*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
}

div {
    margin: 50px 100px;
}

.code{
    background-color: rgb(216, 216, 216);
    font-size: 18px;
    width: fit-content;
    margin: 10px;
    font-family: "Datatype", monospace;
}

#titulo{
font-family: "Datatype", monospace;
font-size: 85px;
text-align: center;
} 

.eventos{
    background-color: rgb(192, 192, 192);
    border: solid 2px black;
    padding: 40px;
    width: fit-content;
    margin: 10px;
    
}
.eventos{
    font-size: 30px;

}
.eventos span{
    font-size: 18px;
    margin-left: 10px;
}

.eventos label {
    font-size:18px ;
}

.eventos button{
    font-weight: bolder;
    margin: 10px;
    padding: 5px;
    border-radius: 15px;
    width: 100px;
    background-color: aquamarine;
}

p{
    line-height: 25px;
    text-indent: 3em;
}

h3 {
    font-family: 'Overpass Mono', monospace;
    text-align: center;
    font-size: 35px;
    margin-top: 80px;
    margin-bottom: 50px;
}

h4{
    font-family: 'Overpass Mono', monospace;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button:hover{
    opacity: 0.8;
}    

.button{
cursor: pointer;
background-color: #C2C2C2;
border-radius: 25px;
font-size: 30px;
filter: drop-shadow(0px 0px 5px #191919);
font-family: "Datatype", monospace;
}


 h2{
        margin-bottom: 20px;
    }
    
.divbutton{
   
    a{
        color: black;
        text-decoration: none;
        margin: 0 30px;
    }
    .button {
        margin: 0 60px;
    }
}

header ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
    padding: 0;
    margin: 0 50px;
}

header li{
    margin: 0;
}

header a{
    font-family: 'Overpass Mono', monospace;
    font-weight: 700;
    font-size: 22px;
    text-decoration: none;
    color: #ffffff;
    padding: 6px 10px;
    border: 3px solid #000000;
    border-radius: 8px;
    display: inline-block;
    background-color: #F15025;
}

header a:hover{
    opacity: 0.8;
}

.b-end3{   
    font-family: 'Overpass Mono', monospace;
    font-weight: 700;
    font-size: 22px;
    padding: 6px 10px;
    border: 3px solid #000000;
    border-radius: 8px;
    background-color: #F15025;
 position: fixed; 
    bottom: 30px; 
    right: 30px;
}   

.b-end3 a{
    color: #ffffff;
    text-decoration: none;  
}

.b-end3:hover{
    opacity: 0.8;
}

.button3{   
    font-family: 'Overpass Mono', monospace;
    font-weight: 700;
    font-size: 17px;
    padding: 6px 10px;
    border: 3px solid #000000;
    border-radius: 8px;
    background-color: #F15025;

}   

.button3 a{
    color: #ffffff;
    text-decoration: none;  
}

.button3:hover{
    opacity: 0.8;
}

.exemplos{
    border: solid 2px black;
    font-size: 18px;
    width: fit-content;
    margin: 10px;
    font-family: "Datatype", monospace;
    padding: 10px;
}